<section id="wrapper">
	<div id="tower-wrapper">
		<div id="tower">
			<div id="first">
				<div id="f1">
				</div>
				<div id="f2">
				</div>
			</div>
			<div id="second">
				<div id="s1">
				</div>
				<div id="s2">
				</div>
			</div>
			<div id="third">
				<div id="t1">
				</div>
				<div id="t2">
				</div>
			</div>
		</div>
	</div>
</section>